
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Picsart_22-09-13_12-15-56-598.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 70%;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

#home-image {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 550px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  color: #1976D2; 
  font-size: 24px;
  font-weight: bold;
}

.logo-icon {
  width: 180px;
  height:90px;
  margin-right: 2px;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

.nav-links a:hover,
.nav-links a.active {
  color: #FFC107;
}

.nav-links a.active::after,
.nav-links a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1976D2;
  bottom: 0;
  left: 0;
}

.login-button {
  padding: 8px 20px;
  border: 1px solid #1976D2;
  border-radius: 24px;
  color: #1976D2;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #FFC107 ;
  color: white;
}

